<div class="mb-1">
  {{#if @href}}
    <a
      href={{@href}}
      class="text-sm no-underline text-black border-b border-dashed border-grey"
    >
      {{yield}}
    </a>
  {{else}}
    {{yield}}
  {{/if}}
</div>
