<div class="ml-4 pl-4">
  <LinkList @title="Projects" as |li|>
    <li.Item>
      {{#link-to "posts" class="text-sm no-underline text-black border-b border-dashed border-grey"}}
        {{fa-icon "newspaper"}}
        Posts
      {{/link-to}}
    </li.Item>

    <li.Item>
      {{#link-to "weight-vs-face" class="text-sm no-underline text-black border-b border-dashed border-grey"}}
        {{fa-icon "weight"}}
        Weight vs. Face
      {{/link-to}}
    </li.Item>
  </LinkList>

  <AsSeenOnList />

  <LinkList @title="About the Site" as |ll|>
    <ll.Item @href="https://emberjs.com">
      <div class="w-4 inline-block">
        <img src="/assets/images/ember-icon-black.svg" alt="ember" class="w-3 ml-1/2">
      </div>

      Made with Ember
    </ll.Item>

    <ll.Item @href="https://github.com/barelyknown/manifesto">
      {{fa-icon "code"}}
      Open source
    </ll.Item>
  </LinkList>
</div>
