<div class="py-4 mb-8 text-center leading-none border-b shadow bg-white">
  {{#link-to "application" class="text-black no-underline"}}
    <div class="text-xs font-thin uppercase">
      The
    </div>
    <div class="text-xl pb-1 font-bold">
      barelyknown
    </div>
    <div class="uppercase font-thin text-xs">
      manifesto of Sean Devine
    </div>
  {{/link-to}}
</div>
