<div class="flex py-4">
  <div class="flex-grow">
  </div>
  <div class="min-w-480 text-center">
    <div class="font-thin text-xs uppercase">
      The
    </div>
    <div class="text-2xl pb-1 align-middle font-bold">
      barelyknown
    </div>
    <div class="uppercase font-thin text-xs">
      manifesto of Sean Devine
    </div>
  </div>
  <div class="flex-grow">
  </div>
</div>
