<div class="py-4 mb-4 text-center leading-none border-b shadow bg-white">
  <div class="text-xs font-thin uppercase">
    The
  </div>
  <div class="text-xl pb-1 font-bold">
    barelyknown
  </div>
  <div class="uppercase font-thin text-xs">
    manifesto of Sean Devine
  </div>
</div>
