{{title this.model.title replace=true}}

<SetHead
  @description={{this.model.description}}
  @imageUrl={{this.model.imageUrl}}
/>

<div class="flex">
  <div class="md:w-3/4">
    <PostItem @post={{this.model}} />
  </div>

  <div class="hidden md:block md:w-1/4">
    <SidebarLists />
  </div>
</div>
