{{head-layout}}

{{title "barelyknown" separator=": " prepend=false}}

<div class="bg-grey-lightest min-h-screen h-full">
  <SiteHeader />

  <div class="px-4 max-w-xl m-auto">
    {{outlet}}
  </div>
</div>
