{{title "Gross Domestic Product" replace=true}}

<SetHead
  @description="Tracking the waste output of our family to better understand our impact on the environment."
/>


<div class="flex">
  <div class="md:w-3/4">
    <div class="post">
      <h1>
        Our Gross Domestic Product
      </h1>

      <div class="text-base">
        <p>
          The combination of {{link-to "observations from my trip to India in December 2018" "posts.show" "the-paradox-of-indian-consumption"}}, our family's complete conversion to vegetarianism in early 2018, and planning related to the home schooling of {{link-to "our twin daughters" "posts.show" "gifts-of-blank-middle-names"}} has us thinking a <em>lot</em> more about ways in which we can better <em>see</em> our impact on the environment.
        </p>

        <p>
          And so, building on the daily tracking habits that resulted in the {{link-to "weight vs. face project" "weight-vs-face"}}, we're going to track the product of our consumption. We'll start by weighing the trash and recycling that we produce, and then see where things go from there. Ideally, we'd also track energy consumption (electricity, natural gas, transportation, etc) and other consumption byproducts too, but we have to start somewhere!
        </p>

        <p>
          For now, we'll just keep a running tally, and then do something interesting with it when there's some data do work with.
        </p>

        <TrashOutputTables />
      </div>
    </div>
  </div>

  <div class="hidden md:block md:w-1/4">
    <SidebarLists />
  </div>
</div>
