<title>{{this.model.title}}</title>
<meta property="og:title" content={{this.model.title}}>

<meta property="twitter:card" content="summary">
<meta property="twitter:site" content="@barelyknown">
<meta property="twitter:creator" content="@barelyknown">
<meta property="twitter:title" content={{this.model.title}}>
<meta property="twitter:description" content={{this.model.description}}>
