<SetHead
  @description="The barelyknown manifesto of Sean Devine."
/>

<div class="flex">
  <div class="md:w-3/4">
    <PostList @posts={{this.model}} />
  </div>

  <div class="hidden md:block md:w-1/4">
    <SidebarLists />
  </div>
</div>
