<div class="px-4 flex">
  <div class="md:pr-4 flex-grow">
    <div class="essay">
      <div class="mb-4">
        <div class="font-semibold text-lg mb-1">
          Manifesto Destiny
        </div>

        <div class="text-xs">
          Sunday, November 25, 2018
        </div>
      </div>

      <p>
        I'm 40 years old; exactly two weeks from 41.
      </p>

      <p>
        A blog feels, how do you say, <i>unbecoming</i>.
      </p>

      <p>
        <strong>...but a manifesto!</strong>
      </p>

      <p>
        The former is the want of my late 20s, <i>whereas</i> the latter embraces mortality in the way that middle age should.
      </p>

      <p>
        This is a public declaration, née plea, <i>wherein</i> I state my opinions for the record.
      </p>

      <p>
        <i>Wherefore‽</i>
      </p>
    </div>
  </div>
  <div class="hidden md:block w-1/4">
    <div class="text-sm font-bold">
      Elsewhere
    </div>
    <ul class="list-reset">
      <li>
        <a href="https://www.twitter.com/barelyknown" class="text-sm no-underline text-black border-b border-dashed border-grey">
          {{fa-icon "twitter" prefix="fab" fixedWidth=true}} @barelyknown
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/seandevine-xbe/" class="text-sm no-underline text-black border-b border-dashed border-grey">
          {{fa-icon "linkedin" prefix="fab" fixedWidth=true}} Sean Devine
        </a>
      </li>
    </ul>
  </div>
</div>
